# Network Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# API Keys
VITE_ETHERSCAN_API_KEY=J8PU7AX1JX3RGEH1SNGZS4628BAH192Y3N
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Configuration
VITE_CONTRACT_ADDRESS=0xae0BB3e8eC51D58eE0238F66Dd4cC2cb12093e6a

# FHE Configuration
VITE_FHE_ENABLED=true